.car-list {
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
  }
  
  .cars {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
  }